#wc-shortcode-modal {
	display: none;
}
#wc-shortcode-modal .media-modal {
	max-width: 500px;
	margin: auto;
}
#wc-shortcode-modal .media-frame-title,
#wc-shortcode-modal .media-frame-toolbar,
#wc-shortcode-modal .media-frame-content {
	left: 0;
}
#wc-shortcode-modal .media-frame-content {
	padding: 20px;
}
#wc-shortcode-modal code {
	white-space: pre-wrap;
}
#wc-shortcode-modal .wc-shortcodes-error-yellow {
	background-color: yellow;
}
#wc-shortcode-modal .wc-shortcodes-error-red {
	background-color: red;
	color: white;
}
#wc-shortcode-modal.hide-insert-button .media-button-insert {
	display: none;
}
.wc-shortcodes-visual-manager .wcs-description {
	font-style: italic;
	margin: 2px 0 5px;
	color: #aaa;
	display: block;
}
.wc-shortcodes-visual-manager .wcs-instruction {
	padding: 10px;
	border: 2px solid #46b450;
	background-color: white;
}
.wc-shortcodes-visual-manager .wcs-instruction.wcs-plain-instructions {
	border-width: 0;
	padding: 0;
}
.wc-shortcodes-visual-manager .wc-shortcodes-range-wrapper {
	display: block;
	float: left;
	width: 100%;
}
.wc-shortcodes-visual-manager .wc-shortcodes-range-wrapper input {
	width: 90%;
	float: left;
}
.wc-shortcodes-visual-manager .wc-shortcodes-range-wrapper output {
	width: 10%;
	float: right;
	text-align: right;
}
/**/
html .wc-shortcodes-visual-manager,
html .wc-shortcodes-visual-manager .ui-accordion,
html .wc-shortcodes-visual-manager.ui-accordion {
	margin-bottom: 1.5em;
}
html .wc-shortcodes-visual-manager .ui-autocomplete,
html .wc-shortcodes-visual-manager .ui-accordion .ui-autocomplete,
html .wc-shortcodes-visual-manager.ui-accordion .ui-autocomplete {
	z-index: 999999;
	max-height: 300px;
	overflow: auto;
}
html .wc-shortcodes-visual-manager .ui-autocomplete li,
html .wc-shortcodes-visual-manager .ui-accordion .ui-autocomplete li,
html .wc-shortcodes-visual-manager.ui-accordion .ui-autocomplete li {
	white-space: normal;
}
html .wc-shortcodes-visual-manager .wc-shortcodes-widget-fa .ui-autocomplete li i {
	margin-right: 0.5em;
	min-width: 1.5em;
	text-align: center;
	font-size: 200%;
	vertical-align: middle;
}
html .wc-shortcodes-visual-manager .wc-shortcodes-widget-fa .ui-autocomplete li span {
	line-height: 2;
}
html .wc-shortcodes-visual-manager .ui-accordion .ui-accordion-header,
html .wc-shortcodes-visual-manager.ui-accordion .ui-accordion-header {
	border: 1px solid #ddd;
	position: relative;
	padding: 10px 15px;
	height: auto;
	line-height: 30px;
	overflow: hidden;
	word-wrap: break-word;
	background: #fafafa;
	color: #23282d;
	margin-bottom: 0;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
	margin-top: 1em;
}
html .wc-shortcodes-visual-manager .ui-accordion .ui-accordion-header:before,
html .wc-shortcodes-visual-manager.ui-accordion .ui-accordion-header:before {
	content: "\f345";
	border: none;
	background: 0 0;
	font-size: 1.0em;
	font-family: dashicons;
	speak: none;
	display: inline-block;
	padding: 0;
	text-indent: 0;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-indent: -1px;
	vertical-align: bottom;
	margin-right: 5px;
}
html .wc-shortcodes-visual-manager .ui-accordion .ui-accordion-header.ui-accordion-header-active:before,
html .wc-shortcodes-visual-manager.ui-accordion .ui-accordion-header.ui-accordion-header-active:before {
	content: "\f347";
}
