/**
* CSS Hacks
*
* Needed common CSS trick
*/

.wc-shortcodes-clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }

.wc-shortcodes-clearfix { display: inline-block; }

* html .wc-shortcodes-clearfix { 
	height: 1%;
}

.wc-shortcodes-clearfix { display: block; }


/**
* Google Fonts
*
* Styles for Fonts subpage in Wordpress dashboard
*/

.wc-shortcodes-font-table {
	height: 300px;
	width: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #e5e5e5;
}

.wc-shortcodes-font-row {
	clear: both;
}

.wc-shortcodes-font-row:nth-child(even) {
	background-color: #e5e5e5;
}

.wc-shortcodes-font-title {
	width: 200px;
	float: left;
	padding-right: 10px;
	text-align: right;
	white-space: nowrap;
}

.wc-shortcodes-font-variants {
	width: 200px;
	float: left;
}

#wc-shortcodes-font-preview {
	font-size: 28px;
	line-height: 1.5;
}

.wc-shortcodes-font-preview-text {
	margin-right: 10px;
}

.wc-shortcodes-font-row-remove {
	vertical-align: middle;
}

.wc-shortcodes-font-preview-row {
	margin-bottom: 15px;
}


/**
* Less Variables
*/

.wc-shortcodes-variables-preview {
	margin-right: 190px;
}

.wc-shortcodes-variables-table {
	border: 1px solid #e5e5e5;
	width: 97%;
}

.wc-shortcodes-variables-table tr:nth-child(even) {
	background-color: #e5e5e5;
}

.wc-shortcodes-variables-table td {
	padding: 3px;
}


/**
* Border Fields
*/

.wc-shortcodes-font-hover-fields .wc-shortcodes-text-decoration,
.wc-shortcodes-border-fields .wc-shortcodes-border-style,
.wc-shortcodes-border-fields .wp-border-width,
.wc-shortcodes-border-fields .wp-picker-container {
	margin-bottom: 7px;
}


/**
* Font Fields
*/

.wc-shortcodes-font-fields .wc-shortcodes-font-teaser,
.wc-shortcodes-font-fields .wp-picker-container,
.wc-shortcodes-font-fields select,
.wc-shortcodes-font-fields input {
	margin-bottom: 7px;
}

.wc-shortcodes-font-teaser {
	display: block;
	line-height: 1.5;
}

.wc-shortcodes-font-appearance-fields select,
.wc-shortcodes-font-appearance-fields .wp-picker-container {
	margin-bottom: 7px;
}


/**
* Media Gallery
*
* Styles for media gallery
*/

.wp-media-buttons-icon {
	background: url('../../../../../../../wp-admin/images/media-button.png') no-repeat top left;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
	margin: 0 2px;
}

.wc-shortcodes-preview-image img {
	max-width: 700px;
	max-height: 200px;
	background: #FAFAFA;
	border-color: #ccc #eee #eee #ccc;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}

.widget .wc-shortcodes-preview-image img {
	padding: 0;
	border-width: 0;
	max-width: 100%;
}

.wc-shortcodes-preview-image {
	margin-bottom: 5px;
}

.wc-shortcodes-upload-font-textarea {
	max-width: 900px;
	height: 210px;
	width: 97%;
}

.wc-shortcodes-social-media-field .button,
.wc-shortcodes-social-media-field input,
.wc-shortcodes-image-field .button,
.wc-shortcodes-image-field input,
.wc-shortcodes-background-options .button,
.wc-shortcodes-background-options select,
.wc-shortcodes-background-options input {
	margin-bottom: 7px;
}


/**
* Theme Options Display
*
* Specific style for theme options pages
*/

.wc-shortcodes-theme-options-display .form-table tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.wc-shortcodes-textarea {
	max-width: 900px;
	height: 150px;
	width: 97%;
}

.wc-shortcodes-ajax-submit-button #submit {
	outline: 0;
}
.wc-shortcodes-ajax-submit-button #compile-status {
	margin-left: 5px;
}
