#wc-shortcode-modal {
	display: none;
}
#wc-shortcode-modal .media-modal {
	max-width: 500px;
	margin: auto;
}
#wc-shortcode-modal .media-frame-title,
#wc-shortcode-modal .media-frame-toolbar,
#wc-shortcode-modal .media-frame-content {
	left: 0;
}
#wc-shortcode-modal .media-frame-content {
	padding: 20px;
}
#wc-shortcode-modal code {
	white-space: pre-wrap;
}
#wc-shortcode-modal .wc-shortcodes-error-yellow {
	background-color: yellow;
}
#wc-shortcode-modal .wc-shortcodes-error-red {
	background-color: red;
	color: white;
}
#wc-shortcode-modal.hide-insert-button .media-button-insert {
	display: none;
}
